.select .main {
 border: 1px solid aquamarine;
 display: inline-block;
 min-height: 30px;
 min-width: 35px;
}
.items {
 position: absolute;
 border: 1px solid red;
 padding: 15px;

}
.select .active .items {
 display: block;
}
.mouse {
 background-color: aqua;
}